<div class="mb-4">
    <label for="title" class="form-label">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>
<div class="mb-4">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div>
    <label for="markdown" class="form-label">Markdown</label>
    <textarea name="markdown" id="markddown" class="form-control"></textarea>
</div>

<a href="/" class="btn btn-secondary mt-3">Cancel</a>
<button type="submit" class="btn btn-primary mt-3">Save</button>